
<div id = 'top_box'>
  <div class = 'user_images'>
    <%=image_tag(@user.where_you_watch_picture.url(:square), :class => "apt-photo") %>
    <%=image_tag(@user.profile_picture.url(:square), :class => "profile-pic")%>
    <p data-div-type="new_event_button" class="button new-event-button" >New Event</p>
  </div>
  <div class = 'profile_text_container'>
    <p>Put user info here</p>
  </div>
</div>
<p></p>

<div id = "middle_level">
  <div id = 'messages_box'>
    <p>Put messages here</p>
  </div>
  <div id = "events_box">
    <p>Events go here</p>
  </div>
</div>
