
<div class='row hosts_description'>
  <div class= "large-3 columns register_text">
     <img class = "home-image1" src="/imgs/name.png" />
     <p class="about_text">
        Hosts open their homes and share their favorite shows. Connect and watch.
     </p>
  </div>
</div>

<div class='row hosts_description'>
  <div class= "large-3 columns sent_request">
    <img class = "home-image" src="/imgs/couch.png" />
      <p class="about_text">
        Connect with hosts, and confirm your stay through the Watch with Friends platform. Your experience is always free - minus bringing the chips.
     </p>
  </div>
</div>

<div class='row hosts_description'>
  <div class= "large-6 columns accept_request">
    <img class = "home-image" src="/imgs/manhattan.png" />
      <p class="about_text">
        Meet new people throughout all five boroughs, or in your own neighborhood. There's always something new to watch.
     </p>
  </div>
</div>


