<div class = 'row hosts_description'>
  <p class = "host_header" > As a Host: </p>
</div>
<div class='row hosts_description'>
  <div class= "large-3 columns register_text">
     <img class = "home-image1" src="/imgs/name.png" />
     <p class="about_text">
        Open your home and share your favorite shows. Connect and watch.
     </p>
  </div>
</div>

<div class='row hosts_description'>
  <div class= "large-3 columns sent_request">
    <img class = "home-image" src="/imgs/couch.png" />
      <p class="about_text">
        Connect with guests, and confirm their stay through the Watch with Friends platform.
     </p>
  </div>
</div>

<div class='row hosts_description'>
  <div class= "large-6 columns accept_request">
    <img class = "home-image" src="/imgs/manhattan.png" />
      <p class="about_text">
        Meet new people throughout all five boroughs, or in your own neighborhood. There's always something new to watch.
     </p>
  </div>
</div>




