<div data-div-type="as_a_host">
  <div class="description1">
    <div class = "img_container">
      <img class = "home-image" src="/imgs/newevent.png" />
    </div>
      <div class = "about_text">
      Once you've registered with Watch With Friends, finding others to watch with you is easy.  Navigate to your profile page and click the 'New Event' Button. Fill out the information you see there, and you'll be taken to your Event's page.
    </div>
  </div>
  <div class="description1">
    <div class = "img_container">
      <img class = "home-image" src="/imgs/recievedrequests.png" />
    </div>
      <div class = "about_text">
      When another user requests to join you at your event you'll see it on the <em>Recieved Requests</em> tab. From there you can see some info about your potential guest. You can choose to accept or decline their request.
    </div>
  </div>
  <div class="description1">
    <div class = "img_container">
      <img class = "home-image" src="/imgs/watch.jpg" />
    </div>
    <div class = "about_text">
      On the day of your event, enjoy watching your television with some brand new friends!
    </div>
  </div>
</div>
