<div class="apartment">
  <img class="apartment-photo" src="../../imgs/apartment.jpg" />
  <p>Game of Thrones</p>



</div>

<div class="event_time">
  <p>9:00pm</p>
</div>

<div class="event_date">
  <p>Sunday</p>
</div>

<div class="host">
    <img class="host-photo" src="../../imgs/user.jpg" />
  </div>
</div>

<div class="photo3">
</div>

<div class="attending_button">
</div>
