<div class="apartment_photo">
  <img class="apartment" src=""
</div>

<div class="event_time">
</div>

<div class="event_date">
</div>

<div class="host">
</div>

<div class="host_photo">
</div>

<div class="photo3">
</div>

<div class="attending_button">
</div>
