

.wrapper {
  background-color: white;
  width: 50%;
  height: 30%;
  margin-left: 2em;
}

body {
  background-color: #f0f0f5;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.apartment p {
  margin-left: 23%;
  display: block;
  font-weight: bold;
  font-size: 100%;
  font-family: Helvetica;
  color: black;
}

.apartment-photo {
  border-radius: 50%;
  width: 30%;
  height: 15%;
  float: left;
  position: relative;
  top: 10;
  left: 0;
}


.host-photo {
  border-radius: 50%;
  width: 6%;
  height: 12%;
  position: absolute;
  top: 22%;
  left: 10%;
}

.host p {
  margin-left: 1000px;
  font-weight: bold;
  font-size: 100%;
  font-family: Helvetica;
  color: black;
}

.photo3 p {
  display: inline

}

.guest-attending {
  width: 100%;
  max-height: 70%;
  border: 2px solid black;
  display: block;
  margin: 2%;
}

.guest-attending p {
  margin: 1%;
  font-size: 1em;
  display: block;
}

.guest-text {
  float: right;
  width: 65%;
}

.guest-image {
  display: inline;
  border-radius: 100%;
  width: 150px;
  height: 150px;
}
.attending_button {
  margin: 10% 0% 0% 0%;
}

.full {
  margin: 6% 0% 0% 0%;
}