

body {
  background-color: #f0f0f5;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.apartment p {
  margin-left: 23%;
  display: block;
  font-weight: bold;
  font-size: 100%;
  font-family: Helvetica;
  color: black;
}


.host-photo {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  position: absolute;
  top: 150px;
  left: 150px;
}

.host p {
  margin-left: 1000px;
  font-weight: bold;
  font-size: 100%;
  font-family: Helvetica;
  color: black;
}

.photo3 p {
  display: inline

}

.guest-attending {
  width: 45em;
  height: 7em;
  border: .2em solid black;
  display: inline-flex;
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 2em;
  background-color: white;
}

.guest-attending p {
  margin: 1%;
  font-size: 1em;
  display: block;
}

.guest-text {
  float: right;
  width: 45%;
}

.guest-image {
  display: inline;
  border-radius: 100%;
  width: 5em;
  height: 5em;
  margin-top: .8em;
  margin-left: 16em;
}
.attending_button {

}

.full {
  margin: 6% 0% 0% 0%;
}


#event_container {
  border: .2em solid black;
  width: 65em;
  height: 20em;
  margin-top: 2em;
  margin-left: 10%;
  margin-right: 20%;
  background-color: white;
  display: inline-flex;
}

#event_images_container {
  width: 20em;
  height: 20em;
  border-right: .1em solid black;
  position: relative;
}

#event_text_container {
  width: 45em;
  text-align: center;
}

.apartment-photo {
  width: 20em;
  height: 19.7em;
  float: left;
  position: absolute;
}

.host-photo {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  position: absolute;
  border: .2em solid white;
  z-index: 2;
  top: 7.2em;
  left: 7.2em;
}

#hosted_by {
  color: grey;
  font-size: 2em;
}

