

body {
  background-color: #f0f0f5;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.apartment p {
  margin-left: 23%;
  display: block;
  font-weight: bold;
  font-size: 100%;
  font-family: Helvetica;
  color: black;
}


.host-photo {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  position: absolute;
  top: 150px;
  left: 150px;
}

.host p {
  margin-left: 1000px;
  font-weight: bold;
  font-size: 100%;
  font-family: Helvetica;
  color: black;
}

.photo3 p {
  display: inline

}

.guest-attending {
  width: 65em;
  height: 10em;
  border: .2em solid black;
  display: inline-flex;
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 2em;
  background-color: white;
}

.guest-attending-text {
  margin-bottom: 1%;
  margin-left: 2em;
  font-size: 1em;
  display: block;
}

.guest-text {
  float: right;
  width: 45%;
}

.guest-image {
  display: inline;
  border-radius: 100%;
  width: 7.5em;
  height: 7.5em;
  margin-top: .8em;
  margin-left: 20em;
}
.attending_button {
  margin-bottom: 2em;
}

.full {
  margin-top: 1em;
  color: red;
  font-weight: bold;
}


#event_container {
  border: .2em solid black;
  width: 65em;
  height: 20em;
  margin-top: 2em;
  margin-left: 10%;
  margin-right: 20%;
  background-color: white;
  display: inline-flex;
}

#event_images_container {
  width: 20em;
  height: 20em;
  border-right: .1em solid black;
  position: relative;
}

#event_text_container {
  width: 45em;
  margin-left: 2em;
}

.apartment-photo {
  width: 20em;
  height: 19.7em;
  float: left;
  position: absolute;
}

.host-photo {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  position: absolute;
  border: .2em solid white;
  z-index: 2;
  top: 5em;
  left: 5em;
}

#hosted_by {
  color: grey;
  font-size: 2em;
}

.guest-attending-name {
  color: grey;
  font-size: 1.4em;
  margin-bottom: 1%;
  margin-left: .5em;
}

