.home-page-video {
	width: 100%;
	max-height: 90%;
	-webkit-transform: scaleX(1.5);
	-moz-transform: scaleX(1.5);
}

#search-form {
	position: absolute;
	top: 50%;
	left: 45%;
	display: inline;
}

.header {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	position: absolute;
	top: 20%;
	left: 38%;
	font-family: 'Expletus Sans', cursive;
}

.home-image {
	clear: both;
	width: 30%;
	height: 50%;
}

.description1 {
	display: inline;
}

.description1 p {
	border: 3px solid black;
	width: 68%;
	height: 50%;
	float: right;
	font-size: 1.5em;
	padding: 3% 1% 0% 1%;
	margin: 0% 1% 1% 0%;
}

.description2 {
	display: inline;
}

.description2 p {
	border: 3px solid black;
	width: 68%;
	height: 50%;
	float: left;
	font-size: 1.5em;
	padding: 3% 1% 0% 1%;
	margin: 0% 1% 1% 0%;
}

.description3 {
	display: inline;
}

.description3 #last-home-img {
	float: left;
}

.description3 p {
	border: 3px solid black;
	width: 68%;
	height: 50%;
	float: right;
	font-size: 1.5em;
	padding: 3% 1% 0% 1%;
	margin: 0% 1% 1% 0%;
}

.users_partial {
	position: absolute;
	left: 43%;
	top: 20%;
}

nav {
	background-color: white;
	border-bottom: 1px solid black;
}
