.home-page-video {
	width: 100%;
	height: 50%;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
  position: relative;
}

.location_drop {
  margin-right: -2em;
}

#search-form {
  vertical-align: center;
  vertical-align: middle;
  margin-left: 10em;
}

#header {
	font-size: 3em;
	font-weight: bold;
	font-family: helvetica;
  color: #fefefe;
  text-align: center;
}

.location_drop {
  margin-right: -2em;
}


.submit_search {
  margin-left: -4.0em;
  height: 2.46em;
  background-color: #FF6666;
}

.submit-button {
  color: white;
  font-family: helvetica;
  font-weight: bold;
}

.description1 {
	border: .2em solid black;
  width: 65em;
  height: 20em;
  margin-left: 15%;
  margin-right: 20%;
  background-color: white;
  display: inline-flex;
  margin-bottom: 2em;
}

.users_partial {
	position: absolute;
	left: 43%;
	top: 20%;
}

.users_partial2 {
	position: absolute;
	left: 38%;
	top: 20%;
}
.users_partial2 form {
  width: 30em;
  padding: 2em;
  border: .2em solid black;
  text-align: center;
  background-color: #f0f0f5;
}

nav {
	background-color: white;
	border-bottom: 1px solid black;
}

#app_description {
	text-align: center;
	font-size: 2.5em;
}

.wwf {
	color: #82ADAD;
	font-weight: bold;
  font-family: helvetica;
}

.about_text {
	width: 30em;
  font-size: 1.5em;
  margin-left: 2em;
  margin-right: 2em;
}

.img_container {
  width: 20em;
  height: 20em;
  position: relative;
}

.home-image {
	width: 100%;
	height: 98%;
}

.subheading {
  font-size: 50%;
  padding-top: 1em;
  color: #82ADAD;
  font-weight: bold;
}

p {
  color: #82ADAD;
}

.host-guest {
  color: #82ADAD;
}

.show-1 {
  width: 5.5em;
  height: 6em;
}

.show-2 {
  width: 5.5em;
  height: 6em;
}
.show-3 {
  width: 5.5em;
  height: 6em;
}
