.home-page-video {
	width: 100%;
	max-height: 90%;
	-webkit-transform: scaleX(1.5);
	-moz-transform: scaleX(1.5);
}

#search-form {
	position: absolute;
	top: 50%;
	left: 40%;
	display: inline;
}

.header {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	position: absolute;
	top: 20%;
	left: 38%;
	font-family: 'Expletus Sans', cursive;
}

.description1 {
	border: .2em solid black;
  width: 65em;
  height: 20em;
  margin-left: 15%;
  margin-right: 20%;
  background-color: white;
  display: inline-flex;
  margin-bottom: 2em;
}

.users_partial {
	position: absolute;
	left: 43%;
	top: 20%;
}

.users_partial2 {
	position: absolute;
	left: 38%;
	top: 20%;
}
.users_partial2 form {
  width: 30em;
  padding: 2em;
  border: .2em solid black;
  text-align: center;
  background-color: #f0f0f5;
}

nav {
	background-color: white;
	border-bottom: 1px solid black;
}

#app_description {
	text-align: center;
	font-size: 2.5em;
}

.wwf {
	color: blue;
	font-weight: bold;
}

.about_text {
	width: 30em;
  font-size: 1.5em;
  margin-left: 2em;
  margin-right: 2em;
}

.img_container {
  width: 20em;
  height: 20em;
  position: relative;
}

.home-image {
	width: 100%;
	height: 98%;

}
