

.requests-recieved p{
	margin: 1%;
	font-size: 1em;
	display: block;
}

.show-name {
	text-align: center;
}
.text {
	float: right;
	max-width: 50%;
	margin: 0% 20% 0% 20%;
	border: 2px solid black;
}

.request-image2 {
	border-radius: 100%;
	width: 300px;
	height: 300px;
	margin-top: -300px;
	margin-left: 5%;
	margin-bottom: 20px;
}

.Happy {
	color: green;
}

.Sad {
	color: red;
}

.h1-title {
	text-align: center;
}

.read-more2 {
	margin-left: 66%;
	margin-top: -5%;
}

.requests-recieved {
	width: 65em;
	height: 20em;
	border: .2em solid black;
	display: block;
	margin-left: 10%;
	margin-right: 20%;
	display: inline-flex;
}

.request-form {
		text-align: center;

}

#request-image-container {
	position: relative;
	width: 20em;
	height: 20em;
	border-right: .1em solid black;
}

.request-image {
	border-radius: 50%;
	width: 12em;
	height: 12em;
	position: absolute;
	left: 4em;
	top: 6em;

}

#request-info {

}
