

.requests-recieved p{
	margin: 1%;
	font-size: 1em;
	display: block;
}

.show-name {
	text-align: center;
}


.Happy {
	color: green;
}

.Sad {
	color: red;
}

.h1-title {
	text-align: center;
}

.read-more2 {
	margin-left: 66%;
	margin-top: -5%;
}

.requests-recieved {
	width: 65em;
	height: 20em;
	border: .13em solid black;
  margin-left: 10%;
  margin-right: 10%;
	margin-top: 2em;
	display: inline-flex;
	background-color: white;
}

.request-form {
		text-align: center;

}

#request-image-container {
	position: relative;
	width: 20em;
	height: 20em;
	border-right: .1em solid black;
}

.request-image {
	border-radius: 50%;
	width: 12em;
	height: 12em;
	position: absolute;
	left: 4em;
	top: 6em;

}

.request-image2 {
	border-radius: 50%;
	width: 12em;
	height: 12em;
	position: absolute;
	left: 3em;
	top: 6em;

}

#request_info {
	width: 45em;
	text-align: center;
}

.text {
	margin: auto;
	width: 35em;
	border: .1em solid black;
}

.guest-name {
	color: grey;
}

.read_more {
position: absolute;
top: 3em;
right: 11.5em;
}
