.requests-recieved {
	width: 100%;
	max-height: 70%;
	border: 2px solid black;
	display: block;
	margin: 2%;
}

.requests-recieved p{
	margin: 1%;
	font-size: 1em;
	display: block;
}

.text {
	float: right;
	width: 65%;
}

.request-image {
	border-radius: 100%;
	width: 300px;
	height: 300px;
}

.Happy {
	color: green;
}

.Sad {
	color: red;
}

.h1-title {
	text-align: center;
}