.notification-header {
  color: red;
  font-weight: bold;
}
.container {
  margin: 0 auto;
  padding: 1% 10%;
 }

.profile-description {
  background-color: white;
  border-bottom: 1px solid #bfcad2;
  width: 20em;
  text-align: center;
  font-family: helvetica;
  letter-spacing: 0;
  font-size: 1.0em;
  text-transform: uppercase;

}

.new-event-button {
  position: absolute;
  top: 15em;
  left: 7.2em;
  border-radius: 10%;
}

.calendar {
  height: 5%;
  width: 5%;
}
.users_partial form {
  width: 15em;
  padding: 2em;
  border: .2em solid black;
  text-align: center;
  background-color: #f0f0f5;
}

.box-header-title {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: helvetica;
  box-sizing: border-box;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  font-weight: bold;
}

.card-actions {
  display: table-cell;
  margin-top: 0;
  vertical-align: top;
  width: 30%;
}

.read-more {
  float: right;
}

.box-header {
  border-bottom: .1em solid #bfcad2;
}

hr {
  border-bottom: 1px solid #bfcad2;
}

.profile-description2 {
  background-color: white;
  border-bottom: 1px solid #bfcad2;
  width: 20em;
  text-align: center;
  font-family: helvetica;
  letter-spacing: 0;
  font-size: 1.0em;
  position: absolute;
  left: 70%;
  top: 8%;
}


.profile-description2 p span {
  font-weight: bolder;
  text-transform: uppercase;
}

.nav-link:hover {
  font-weight: bolder;
}
#profile-box {
  border: .2em solid black;
  width: 65em;
  height: 20em;
  margin-left: 10%;
  margin-right: 20%;
  background-color: white;
  display: inline-flex;
}

.pro-pic {
  font-family: sans-serif;
  font-size: 110%;
}

.living-room-pic {
  font-size: 110%;
  font-family: sans-serif;

}

#profile-images-container {
  width: 20em;
  height: 20em;
  border-right: .1em solid black;
  position: relative;
}

.profile-pic {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  position: absolute;
  border: .2em solid white;
  z-index: 2;
  top: 7.2em;
  left: 7.2em;
}

.two {
  position: absolute;
  top: 0.25em;
  left: 13.7em;
}


.one {
  position: absolute;
  top: 0.25em;
  left: 30.4em;
  border-radius: 7%;
}

#profile-name {
  font-size: 3em;
}

#profile-location {
  font-size: 2em;
  color: grey;
}

.first_name {
  background-image: url(../../imgs/name.png);
  background-repeat: no-repeat;
  background-position: right 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  height: 40px;
  padding: 10px;
  width: 100%
}

.last_name {
 background-image: url(../../imgs/name.png);
  background-repeat: no-repeat;
  background-position: right 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  height: 40px;
  padding: 10px;
  width: 100%
}

.address {
  background-image: url(../../imgs/home.png);
  background-repeat: no-repeat;
  background-position: right 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  height: 45px;
  padding: 8px;
  width: 100%
}

.email {
  background-image: url(../../imgs/email.png);
  background-repeat: no-repeat;
  background-position: right 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  height: 40px;
  padding: 10px;
  width: 100%
}

#user_location {
  font-family: helvetica;
  /*align: center;*/
  /*color: red;*/
}

#location_dropdown{
    /*font-family: helvetica;*/
  position: relative;
  left: 6em;
}

.password {
  background-image: url(../../imgs/password.png);
  background-repeat: no-repeat;
  background-position: right 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  height: 40px;
  padding: 10px;
  width: 100%
}

.password_two {
  background-image: url(../../imgs/password.png);
  background-repeat: no-repeat;
  background-position: right 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  height: 40px;
  padding: 10px;
  width: 100%
}
.upload {
  margin-left: 6em;
}

::-webkit-input-placeholder {
  font-family: helvetica;
}

.submit_watcher {
  font-family: helvetica;
}

#events-tabs {
  text-align: center;
  color: blue;
}

.home-image {
  height: 5em;
  width: 5em;
}

.home-image1 {
  height: 3em;
  width: 3em;
}

.hosts_description {
  background-color: #638EF8;
  border-radius: 25px;
  width: 100%;

}

.about_text {
  color: white;
  font-family: helvetica;
}

.event_x {
  position: absolute;
  right: 0em;
  top: 0em;
}
