.user_images {
  margin-top: 1em;
  width: 20em;
  height: 20em;
  position: relative;
  display: inline-block;
  border: .2em solid black;
}

.apt-photo {
  width: 20em;
  height: 19.5em;
  position: absolute;
}

.profile-pic {
  border-radius: 50%;
  width: 11em;
  height: 11em;
  position: absolute;
  border: .2em solid white;
  z-index: 2;
  top: 5em;
  left: 4.3em;
}

.profile_text_container {
  background-color: white;
  height: 20em;
  margin-top: 1em;
  border: .2em solid black;
  width: 50em;
  margin-left: 1em;
}

#top_box {
  margin-left: 1em;
  display: inline-flex;
}

#messages_box {
  margin-top: 1em;
  width: 20em;
  height: 20em;
  position: relative;
  display: inline-block;
  border: .2em solid black;
  margin-left: 1em;
  margin-top: 1em;
}

#middle_level {
  display: inline-flex;
}

#events_box {
  margin-top: 1em;
  width: 40em;
  height: 30em;
  position: relative;
  display: inline-block;
  border: .2em solid black;
  margin-left: 1em;
  margin-top: 1em;
}

.new-event-button {
  position: absolute;
  top: 18em;
  left: 7.2em;
  border-radius: 10%;
}